@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
   background: url(img/bg-desktop.webp);
    font-family: 'Bai Jamjuree', sans-serif;
}
:root{
    --cor-do-texto: #DBE4EF;
    --cor-cartao-frente: #144480;
    --cor-cartao-verso: #00F4BF;
}
footer{
    background-color: #E2E2B6;
    color: black;
    position: fixed;
    width: 100%;
    height: 2rem;
    text-align: center;
}
footer p{
    text-align: center;
    font-size: 0,6rem;
    margin: 0,5rem;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
.cartao{
    margin: 2rem;
    height: 20rem;
    background-color: #6EACDA;
    border-radius: 10px;
}
.cartao:hover .cartao-conteudo{
    transform: rotateY(180deg);
}
.cartao-conteudo{
    text-align: center;
    height: 80%;
    padding: 20px;
    transform-style: preserve-3d;
    transition: transform 500ms ease-in-out;
    
}
.cartao-conteudo h3{
    background-color: #ECDFCC;
    color: black;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    border-radius: 0.6rem ;
    margin: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.cartao-conteudo-pergunta{
    color: var(--cor-do-texto);
    font-weight: 500;
}
.cartao-conteudo-pergunta,
.cartao-conteudo-resposta{
backface-visibility: hidden;

}
.cartao-conteudo-resposta{
transform: rotateY(180deg);
}
.cartao-conteudo-pergunta{
    padding-top: 70px;
}